img{
    padding-top: 1%;
}

.nav{
background-color: #f1f4e0;
line-height: 50px;
}

.navt{
text-decoration: none;
color: #36481d;
font-size: 20px;
margin-left: 110px;
}

.Avo{
background-color: #e1ebc6;
line-height: 50px;
}